.active{
    transition: box-shadow 200ms ease-in-out;
    font-size: 1rem;
    width: inherit;
    border-radius: 1rem;
    box-shadow:inset 1px 1px 5px 0 #000000,inset -1px -1px 5px 0 #ffffff48;
}

.active{
    cursor: default;
}

.list-item{
    margin:1rem;
    padding: 0rem 2rem 0rem 1rem;
    color: #4492E6;
    font-weight: 800;
    font-size: 2rem;
    text-decoration: none;
    align-items: center;
}

#log-out{
    margin-top:auto;
}
