.card-container{
    background-color: #25282B;
    /* border: 2px solid; */
    height: 15rem;
    border-radius: 0.6em;
    box-shadow: 5px 5px 10px 0 #000000, -5px -5px 10px 0 #ffffff1f;
    padding: 1rem;
}

.card-container:hover{
    transition: 200ms ease-out;
    box-shadow: 1px 1px 5px 0 #000000, -1px -1px 5px 0 #ffffff48;
    
    
    /* filter:brightness(110%); */
}